/*
*************
Estilos Index
*************
*/

.section--one{

    display: flex;
    flex-direction: column;

    align-items: center;

    width: 100%;

}

.section--one > h1, h2, h3, h4, h5{

    background: linear-gradient(45deg,#4cc9f0ff, #5e60ceff);
    -webkit-background-clip: text;
    color: transparent;

}

.section--one > h1{

    margin-top: 45px;
    margin-bottom: -20px;

    font-size: 18pt;

    font-family: heebo;
    font-weight: bolder;
    font-size: 60pt;

}

.section--one > h2{

    font-size: 17pt;

    margin-bottom: 40px;

}

.section--one > h3{

    margin: 40px auto;

    font-family: heebo;
    font-weight: bolder;
    font-size: 40pt;

}

.section--one > p{

    width: 70%;

    font-size: 12pt;

}

.buttons--container{

    width: 100%;

    display: flex;

    justify-content: center;

    gap: 80px;

}

.buttons--div{

    display: flex;
    flex-direction: column;

    align-items: center;

}

.buttons--div > .buttons--image{

    width: 15vw;
    height: 150px;

    margin-bottom: 30px;

    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;


}

.buttons--div > .buttons--button{

    width: 15vw;

    padding: 15px;

    background: linear-gradient(45deg,#4cc9f0ff, #5e60ceff);

    text-align: center;

    box-sizing: border-box;

    border-radius: 20px;

    font-family: 'Century Gothic';
    font-size: 11pt;
    font-weight: bold;

    color: white;

    cursor: pointer;

    border: 3px solid white;

    text-decoration: none;

}

.buttons--div > .buttons--button:hover{

    background: linear-gradient(270deg,#4cc9f0ff, #5e60ceff);


}

.buttons--div > .image--download{

    background-image: url("../assets/images/DownloadIcon.png");
    
}

.buttons--div > .image--tipificar{

    background-image: url("../assets/images/TipificarIcon.png");
    
}

.buttons--div > .image--crudTipificar{

    background-image: url("../assets/images/HistorialTipificacionIcon.png");
    
}

.buttons--div > .image--crudUsuarios{

    background-image: url("../assets/images/UsuariosIcon.png");
    
}